/*Medium device (MD)*/
@media (max-width: 1199px) {
	.header_item > ul {
		text-align: center;
	}
	.nav > li > a {
		font-size: 11px;
		padding: 0 4px;
	}
	.banner .carousel {
		height: 413px;
	}
	.carousel-indicators {
		margin-left: 28%;
		width: 18%;
	}
}
/*Small device (SD)*/
@media (max-width: 991px) {
	h1 {
		font-size: 1.3em !important;
	}	
	.me{
		width:100%;
	}	
	.logo_holder img {
		display: block;
		float: none;
		margin: 20px auto;
	}
	.add_holder img {
		margin: 20px auto;
		display: block;
	}
	.search_box {
		margin-bottom: 15px;
	}
	.header_item {
		margin: 0;
	}
	.header_item > ul {
		text-align: center;
	}
	.header_item ul li {
		display: inline-block;
		margin-right: 0;
		padding: 0 5px;
	}
	.banner .carousel {
		height: 313px;
	}	
	.carousel-indicators {
		margin-left: 23%;
		width: 26%;
	}
	
	.my_nav {
		background: #e0e0e0 none repeat scroll 0 0;
		border-bottom: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
		margin-bottom: 15px;
	}
	.navbar-toggle {
		background-color: transparent;
		background-image: none;
		border: 1px solid #fff;
		border-radius: 4px;
		float: right;
		margin-bottom: 8px;
		margin-right: 15px;
		margin-top: 8px;
		padding: 9px 10px;
		position: relative;
	}
	.icon-bar {
		color: white;
		border-color: white;
		background-color: white;
	}
	
	.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	.nav-justified > li {
		display: block;
		padding: 6px 0;
		text-align: center;
		width: 100%;
	}
	.nav > li > a {
		line-height: 26px;
		font-size: 12px;
	}
	.nav > li:last-child a {
		text-align: center;
	}
	.dropdown-menu {
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: #edecec;
		position: relative;
		text-align: center;
		width: 100%;
	}
	.dropdown-menu > li > a {
		font-size: 12px;
	}
	.dropdown-menu > li > a:hover {
		color: #999;
	}	
}
/*Extra small device (XS)*/
@media (max-width: 767px) {		
	.grid figure {
		display: inline-block;
		float: none;
		margin: 0;
		width: 100%;
	}	
	.banner .carousel {
		height: 253px;
	}
	.carousel-indicators {
		margin-left: 20%;
		width: 28%;
	}	
}
/*Extra small device (XS-More refine)*/
@media (max-width: 480px) {	
	.banner .carousel {
		height:153px;
	}
	.carousel-indicators {
		bottom: 5px !important;
		margin-bottom: 0;
		left: 0;
		margin-left: 0;
		width: 100%;
	}
	.carousel-indicators li {
		font-size: 12px;
		width: 18px;
		height: 18px;
	}
	.carousel-indicators .active {		
		width: 18px;
		height: 18px;
	}
}

